// http://ionicframework.com/docs/v2/theming/
$beuthColor: #0098a1;
$toolbar-background: #0098a1;
$searchnbar-md-input-background-color: rgba(0, 152, 161, 1);

$colors: (
    primary:    #0098a1,
    secondary:  #ffffff,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222,
    favorite:   #69BB7B,
    mycolour:    #8B008B  //Dark Magenta
);

.menuHeader {
    background-color: #0098a1;
    color: white;
}

.menuList {
    background-color: white;
    color: black;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
